{{ template "templates/components/header.html" . }}
<div class="headercontainer">
    {{ if .Auth.Authenticated }}
        <h2 class="w3-wide">My Account</h2>
    {{ else }}
        <h2 class="w3-wide">My Account</h2>
    {{ end }}

</div>

<div class="text2">
    {{ if .Auth.Authenticated }}

        {{ if eq .Route "account/" }}

        <a href="/account/settings">Account Settings</a><br>
        <a href="/account/groups">Groups</a><br>
        {{end}}

        {{ if eq .SubRoute "settings" }}

            {{ template "templates/components/account/settings.html" . }}
        {{ end }}
    {{ else }}
        <a href="/login">Please login to view</a><br>
    {{ end }}
</div>

{{ template "templates/components/footer.html" . }}
