{{ template "templates/components/header.html" . }}
<div class="headercontainer">

    <h2>{{ .Route }}</h2>
    {{ if .Auth.Authenticated }}
        <h2 class="w3-wide">Welcome</h2>
    {{ else }}
        <h2 class="w3-wide">Create an account</h2>
    {{ end }}

</div>

{{ template "templates/components/forms/registration.html" . }}

<div class="text2">
    {{ if not .Auth.Authenticated }}
        <a href="/login">or login</a><br>
    {{ end }}
</div>

{{ template "templates/components/footer.html" . }}
